
@model TurismoRuralComunitario.Request.LoginRequest
@{
    ViewBag.Title = "Recuperación Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container py-5 mt-5 mb-5">
    <div class="form-group row justify-content-center">
        <div class="@TempData["alerta"] alert-dismissible fade show" role="alert">
            <strong>@TempData["mensaje"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-lg-5">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h4 class="text-center mb-sm-5 mb-4 text-dark">Recuperar Contraseña</h4>
                    @using (Html.BeginForm("RecuperarPassword", "Cuenta", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row justify-content-lg-start ml-3">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control", @type = "email" })
                        </div>
                        <div class=" form-group text-center col-lg-12 mb-4">
                            <button type="submit" class="btn btn-secondary btn-block"><strong>Enviar</strong><i class="fas fa-share-square ml-3"></i></button>
                        </div>
                        <hr />
                        <div class="row justify-content-center mt-4">
                            <a class="btn btn-link text-black-50 font-weight-bold" href="@Url.Action("Login")"><i class="fas fa-chevron-circle-left"></i> salir</a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}